{{- $roles := list "personal" "work" "server" -}}
{{- $defaultRole := "personal" -}}
{{- if eq .chezmoi.os "linux" -}}
{{- $defaultRole = "server" -}}
{{- end -}}
{{- $role := promptChoiceOnce . "role" "Machine role" $roles $defaultRole -}}
{{- $development := promptBoolOnce . "development" "Install development tooling" true -}}
{{- $audio := promptBoolOnce . "audio" "Install audio tooling" (eq .chezmoi.os "darwin") -}}
{{- $electronics := promptBoolOnce . "electronics" "Install electronics tooling" (eq .chezmoi.os "darwin") -}}
{{- $gitSigning := promptBoolOnce . "gitSigning" "Use 1Password for Git signing" (eq .chezmoi.os "darwin") -}}
{{- $leaderKeyObsidianVault := "Elliott Liu" -}}
{{- $leaderKeyObsidianQuickAddId := "bea8aca1-73dd-4abb-8cc3-41a7a0a984ed" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $leaderKeyObsidianVault = promptStringOnce . "leaderKeyObsidianVault" "Leader Key Obsidian vault" $leaderKeyObsidianVault -}}
{{- $leaderKeyObsidianQuickAddId = promptStringOnce . "leaderKeyObsidianQuickAddId" "Leader Key Obsidian QuickAdd choice ID" $leaderKeyObsidianQuickAddId -}}
{{- end -}}

[data]
role = {{ $role | quote }}
development = {{ $development }}
audio = {{ $audio }}
electronics = {{ $electronics }}
gitSigning = {{ $gitSigning }}
leaderKeyObsidianVault = {{ $leaderKeyObsidianVault | quote }}
leaderKeyObsidianQuickAddId = {{ $leaderKeyObsidianQuickAddId | quote }}

[git]
autoCommit = false
autoPush = false

[add]
secrets = "error"
